<?xml version="1.0" encoding="utf-8" ?>
<MmlTableManager xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Claim001>
    <TableId>Claim001</TableId>
    <Comment>時間外区分</Comment>
    <ItemList>
      <MmlTableItem>
        <Value>0</Value>
        <Description>時間内</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>1</Value>
        <Description>時間外</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>2</Value>
        <Description>休日</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>3</Value>
        <Description>深夜</Description>
      </MmlTableItem>
    </ItemList>
  </Claim001>
  <Mml0028>
    <TableId>MML0028</TableId>
    <Comment>医科診療科コード</Comment>
    <ItemList>
      <MmlTableItem>
        <Value>01</Value>
        <Description>内科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>02</Value>
        <Description>精神科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>03</Value>
        <Description>神経科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>04</Value>
        <Description>神経内科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>05</Value>
        <Description>呼吸器科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>06</Value>
        <Description>消化器科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>07</Value>
        <Description>胃腸科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>08</Value>
        <Description>循環器科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>09</Value>
        <Description>小児科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>10</Value>
        <Description>外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>11</Value>
        <Description>整形外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>12</Value>
        <Description>形成外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>13</Value>
        <Description>美容外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>14</Value>
        <Description>脳神経外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>15</Value>
        <Description>呼吸器外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>16</Value>
        <Description>心臓血管外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>17</Value>
        <Description>小児外科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>18</Value>
        <Description>皮膚ひ尿器科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>19</Value>
        <Description>皮膚科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>20</Value>
        <Description>ひ尿器科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>21</Value>
        <Description>性病科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>22</Value>
        <Description>こう門科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>23</Value>
        <Description>産婦人科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>24</Value>
        <Description>産科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>25</Value>
        <Description>婦人科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>26</Value>
        <Description>眼科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>27</Value>
        <Description>耳鼻いんこう科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>28</Value>
        <Description>気管食道科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>29</Value>
        <Description>理学診療科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>30</Value>
        <Description>放射線科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>31</Value>
        <Description>麻酔科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>32</Value>
        <Description>人工透析科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>33</Value>
        <Description>心療内科</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>34</Value>
        <Description>アレルギー</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>35</Value>
        <Description>リウマチ</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>36</Value>
        <Description>リハビリ</Description>
      </MmlTableItem>
      <MmlTableItem>
        <Value>A1</Value>
        <Description>鍼灸</Description>
      </MmlTableItem>
    </ItemList>
  </Mml0028>
</MmlTableManager>
