<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="log-path">G:/logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="DailyFile" fileName="${log-path}/med-middle.log" filePattern="${log-path}/med-middle-%d{yyyy-MM-dd}.log">			
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
     		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		</RollingFile>		
	</Appenders>
	<Loggers>
<!-- 		<Logger name="nta.med" level="debug"> -->
<!-- 			<AppenderRef ref="Console"/> -->
<!-- 			<AppenderRef ref="DailyFile" /> -->
<!-- 		</Logger> -->
<!-- 		<Logger name="org.hibernate" level="debug"> -->
<!-- 			<AppenderRef ref="Console"/> -->
<!-- 			<AppenderRef ref="DailyFile" /> -->
<!-- 		</Logger> -->
<!-- 		<Root level="warn"> -->
<!-- 			<AppenderRef ref="DailyFile" /> -->
<!-- 		</Root> -->
	</Loggers>
</Configuration>