${mailInfo.userName}様
弊社の電子カルテ・オーダリングシステム（KCCKシステム）のご利用を頂きまして、誠にありがとうございます。
KCCKに最初にログインされる際に以下の情報が必要になりますのでお知らせ申し上げます。
																																									
・医院名：${mailInfo.clinicName}
・医院コード：${mailInfo.clinicCode}
・ユーザ名： ${mailInfo.userName}
・パスワード： ${mailInfo.psw}
・VPN証明書及びキー: VPN cert + key
・KCCKのダウンロードURL：${mailInfo.linkDownloadKcck}
・問診票サービスMIS（Medical Interview System）ならびにＷｅｂ予約サービスMBS（Medical Booking System）のURL：${mailInfo.linkDownloadMis}, ${mailInfo.linkDownloadMbs}
																																					
KCCKのダウンロードURL　${mailInfo.linkDownloadKcck} 　からKCCKアプリケーションをダウンロードしていいただき
上記の情報をご利用いただき、ログインしてください。																													
																																									
ご不明点がございましたら、貴クリニックのシステムご担当様にご確認ください。
