<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.SqlClient, System.Data.SQLite -->
    <add key="DataProvider" value="System.Data.SQLite" />
    <add key="DataProviderMisa" value="System.Data.SqlClient" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above -->
    <add key="ConnectionStringName" value="ADO.NET.Sqlite" />
    <add key="ConnectionStringNameMisa" value="ADO.NET.SqlServer" />
    <add key ="MaxAttemptTimes" value="5"/>
    <!-- Websocket server-->
    <!-- 
    TiepNM ws://10.1.20.34:8090/websocket
    DucNT ws://10.1.20.35:8090/websocket
    OaiDV ws://10.1.20.33:8090/websocket
    HuanLT ws://10.1.20.32:8090/websocket
    NgocNV ws://10.1.20.56:8090/websocket 
    -->
    <!--PRO-->
    <!--<add key="SocketUrl" value="wss://app.karte.clinic:8090/websocket" />
    <add key="MediaBaseUri" value="http://emrfile.karte.clinic:8010/download" />
    <add key="UploadBaseUri" value="http://emrfile.karte.clinic:8010/upload" />
    <add key="MoveBaseUri" value="http://emrfile.karte.clinic:8010/move" />
    <add key="VPNSocketUrl" value="ws://10.7.4.28:8091/websocket" />
    <add key="VPNMediaBaseUri" value="http://10.7.4.14:8011/download" />
    <add key="VPNUploadBaseUri" value="http://10.7.4.14:8011/upload" />
    <add key="VPNMoveBaseUri" value="http://10.7.4.14:8011/move" />
    <add key="VPNDownloadURL" value="http://ihis.karte.clinic/vpn/setupvpnclient.msi" />
    <add key="KinkiDownloadURL" value="https://mis.karte.clinic/kinki/kinki.zip" />
    <add key="BuildMode" value="RELEASE" />
    <add key="LinkMIS" value="https://mis.karte.clinic/" />
    <add key="GetTokenMovieTalk" value="https://www.karte.clinic/cms/hospital/search?hosp_code="/>
    <add key="LinkMovieTalk" value="https://booking.karte.clinic/doctor/generate-token?tokenHospCode=" />
	  <add key="HaoriClinic" value="320" />
	  <add key="HaoriHost" value="42.124.124.131" />
    <add key="HaoriPort" value="4567" />-->

    <!--UAT-->
    <!--<add key="SocketUrl" value="ws://10.2.9.32:8090/websocket" />
    <add key="MediaBaseUri" value="http://10.2.9.32:8010/download" />
    <add key="UploadBaseUri" value="http://10.2.9.32:8010/upload" />
    <add key="MoveBaseUri" value="http://10.2.9.32:8010/move" />
    <add key="VPNSocketUrl" value="ws://10.2.9.32:8090/websocket" />
    <add key="VPNMediaBaseUri" value="http://10.2.9.32:8010/download" />
    <add key="VPNUploadBaseUri" value="http://10.2.9.32:8010/upload" />
    <add key="VPNMoveBaseUri" value="http://10.2.9.32:8010/move" />
    <add key="VPNDownloadURL" value="http://10.2.9.30/vpn/setupvpnclient.msi" />
    <add key="KinkiDownloadURL" value="http://10.2.9.26/kinki/kinki.zip" />
    <add key="BuildMode" value="RELEASE" />
    <add key="LinkMIS" value="http://10.2.9.26/" />
    <add key="GetTokenMovieTalk" value="http://10.2.9.26:9889/cms/hospital/search?hosp_code="/>
	  <add key="LinkMovieTalk" value="https://10.2.9.29/mss-web/doctor/generate-token?tokenHospCode=" />
	  <add key="HaoriClinic" value="618" />
	  <add key="HaoriHost" value="10.1.40.107" />
    <add key="HaoriPort" value="4567" />-->

    <!--DEV-->
    <!--<add key="SocketUrl" value="ws://10.1.20.2:8090/websocket" />
    <add key="MediaBaseUri" value="http://10.1.20.2:8010/download" />
    <add key="UploadBaseUri" value="http://10.1.20.2:8010/upload" />
    <add key="MoveBaseUri" value="http://10.1.20.2:8010/move" />
    <add key="VPNSocketUrl" value="ws://10.1.20.2:8090/websocket" />
    <add key="VPNMediaBaseUri" value="http://10.1.20.2:8010/download" />
    <add key="VPNUploadBaseUri" value="http://10.1.20.2:8010/upload" />
    <add key="VPNMoveBaseUri" value="http://10.1.20.2:8010/move" />
    <add key="VPNDownloadURL" value="http://10.2.9.30/vpn/setupvpnclient.msi" />
    <add key="KinkiDownloadURL" value="http://10.2.9.26/kinki/kinki.zip" />
    <add key="BuildMode" value="DEBUG" />
    <add key="LinkMIS" value="http://10.2.9.26/" />
  	<add key="GetTokenMovieTalk" value="http://10.1.20.217:9889/cms/hospital/search?hosp_code="/>
    <add key="LinkMovieTalk" value="http://10.1.20.217:8080/doctor/generate-token?tokenHospCode=" />
	  <add key="HaoriClinic" value="323" />
    <add key="HaoriHost" value="10.1.40.107" />
    <add key="HaoriPort" value="4567" />-->

    <!--ECOMEDIX PROD-->
    <add key="SocketUrl" value="wss://app.ecomedic.vn:8090/websocket" />
    <add key="MediaBaseUri" value="http://emrfile.ecomedic.vn:8010/download" />
    <add key="UploadBaseUri" value="http://emrfile.ecomedic.vn:8010/upload" />
    <add key="MoveBaseUri" value="http://emrfile.ecomedic.vn:8010/move" />
    <add key="VPNSocketUrl" value="ws://10.7.4.28:8091/websocket" />
    <add key="VPNMediaBaseUri" value="http://10.7.4.14:8011/download" />
    <add key="VPNUploadBaseUri" value="http://10.7.4.14:8011/upload" />
    <add key="VPNMoveBaseUri" value="http://10.7.4.14:8011/move" />
    <add key="VPNDownloadURL" value="http://kcck.ecomedic.vn/vpn/setupvpnclient.msi" />
    <add key="KinkiDownloadURL" value="https://survey.ecomedic.vn/kinki/kinki.zip" />
    <add key="BuildMode" value="RELEASE" />
    <add key="LinkMIS" value="https://survey.ecomedic.vn/" />
    <add key="GetTokenMovieTalk" value="https://ecomedic.vn/cms/hospital/search?hosp_code="/>
    <add key="LinkMovieTalk" value="https://booking.ecomedic.vn/doctor/generate-token?tokenHospCode=" />
    <add key="HaoriClinic" value="320" />
    <add key="HaoriHost" value="42.124.124.131" />
    <add key="HaoriPort" value="4567" />

    <!-- Common -->
    <add key="ConnectionTimeout" value="600000000" />
    <add key="RequestTimeout" value="600000000" />
    <add key="UploadToken" value="1234" />
    <add key="OtisDevMode" value="false" />

    <!--https://sofiamedix.atlassian.net/browse/MED-8157-->
    <add key="Compress" value="True" />
    <add key="CompressThreshold" value="1024" />
    <!--https://sofiamedix.atlassian.net/browse/MED-10889-->
    <add key="VPNProcessName" value="sevpnclient" />
    <add key="VPNSetupFileName" value="setupvpnclient.msi" />
    <!-- KCCK homepage -->
    <add key="HomepageUrlJP" value="https://karte.clinic" />
    <add key="HomepageUrlVN" value="http://www.karteclinic.vn" />
    <!-- https://sofiamedix.atlassian.net/browse/MED-13067 -->
    <add key="MAX_PROCESS_ROWS" value="1000" />
  </appSettings>

  <connectionStrings>
    <add name="ADO.NET.Sqlite" connectionString="\\SQLiteDB\\kcck.db" />
    <!--API PHR PRO-->
    <!-- <add name="PHR.API.LINKING" connectionString="http://117.6.172.190:8081/api/accounts/kcck" />  -->

    <!--API PHR UAT-->
    <add name="PHR.API.LINKING" connectionString="http://117.6.172.190:8081/api/accounts/kcck" />

    <!--API PHR LOCAL-->
    <!-- <add name="PHR.API.LINKING" connectionString="http://117.6.172.190:8081/api/accounts/kcck" />  -->

  </connectionStrings>
  <securityCryptographyConfiguration />
  <cachingConfiguration defaultCacheManager="CacheManager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage"
        name="CacheManager" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="ADMA"
        name="ADMA" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="ADMM"
        name="ADMM" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="BASS"
        name="BASS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="CHTS"
        name="CHTS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="CLIS"
        name="CLIS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="CPLS"
        name="CPLS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="DOCS"
        name="DOCS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="DRGS"
        name="DRGS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="ENDO"
        name="ENDO" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="INJS"
        name="INJS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="INPS"
        name="INPS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NURI"
        name="NURI" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NURO"
        name="NURO" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NUTS"
        name="NUTS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="OCSA"
        name="OCSA" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="OCSI"
        name="OCSI" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="OCSO"
        name="OCSO" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="PFES"
        name="PFES" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="PHYS"
        name="PHYS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="SCHS"
        name="SCHS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="XRTS"
        name="XRTS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="OUTS"
          name="OUTS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="TSTS"
          name="TSTS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="ADMS"
          name="ADMS" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
    numberToRemoveWhenScavenging="10" backingStoreName="OPRS"
    name="OPRS" />
    </cacheManagers>
    <backingStores>
      <add partitionName="demo" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="Isolated Storage" />
      <add partitionName="adma" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="ADMA" />
      <add partitionName="admm" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="ADMM" />
      <add partitionName="bass" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="BASS" />
      <add partitionName="chts" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="CHTS" />
      <add partitionName="clis" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="CLIS" />
      <add partitionName="cpls" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="CPLS" />
      <add partitionName="docs" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="DOCS" />
      <add partitionName="drgs" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="DRGS" />
      <add partitionName="endo" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="ENDO" />
      <add partitionName="injs" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="INJS" />
      <add partitionName="inps" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="INPS" />
      <add partitionName="nuri" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="NURI" />
      <add partitionName="nuro" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="NURO" />
      <add partitionName="nuts" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="NUTS" />
      <add partitionName="ocsa" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="OCSA" />
      <add partitionName="ocsi" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="OCSI" />
      <add partitionName="ocso" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="OCSO" />
      <add partitionName="pfes" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="PFES" />
      <add partitionName="phys" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="PHYS" />
      <add partitionName="schs" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="SCHS" />
      <add partitionName="xrts" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        name="XRTS" />
      <add partitionName="outs" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          name="OUTS" />
      <add partitionName="tsts" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          name="TSTS" />
      <add partitionName="adms" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          name="ADMS" />
      <add partitionName="oprs" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          name="OPRS" />
    </backingStores>
  </cachingConfiguration>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>