hr {
border-width: 0;
height: 1px;
background-color: #ccc;
margin-top: 1em;
margin-bottom: 1em;
}

.wrapper {
width: 980px;
margin-top: 0;
margin-right: auto;
margin-left: auto;
margin-bottom: 0;
padding-bottom:2em;
}

.page-title {
font-size: 28px;
margin-top: 20px;
}

.text-center {
text-align: center;
}
.text-right {
text-align: right;
}
.table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
		line-height:28px;
    }
.table tr th {
        text-align: left;
        vertical-align: top;
    }
.table tr td {
        vertical-align: top;
    }
.full-w td {padding:0.5em 1em 0.5em 1em;}
.table .col-highlight {width:25%;background-color:#eee;}

mark {
    background-color: #fff;
}
.item9 div{
	padding-right: 5px;
	float: left;
}