<section>
  <div class="notfoundpanel">
    <h1>404!</h1>
    <h3><translate>The page you are looking for has not been found!</translate></h3>
    <h4><translate>The page you are looking for might have been removed, had its name changed,<br>or unavailable</translate></h4>
    <hr class="darken">
    <ul class="list-inline">
      <li><a href="https://www.karte.clinic/it-organization/contact-us" target="_blank"><translate>Contact</translate></a></li>
      <li class="pull-right"><translate>Hospital &copy; 2015. All Rights Reserved.</translate></li>
    </ul>
  </div>
</section>