<div class="headerpanel">
  <div class="logopanel">
    <h2><a href="#/">Hospital Logo</a></h2>
  </div><!-- logopanel -->

  <div class="headerbar">
    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
    <div class="header-right">
      <ul class="headermenu">
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-languages" data-toggle="dropdown">
              <img src="images/flags/Japan.png" alt="" />
              <translate>Japanese</translate>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li><a href="#"><img src="images/flags/Japan.png" alt="" />Japanese</a></li>
              <li><a href="#"><img src="images/flags/United-States-of-America.png" alt="" />English</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-logged" data-toggle="dropdown">
              <img src="images/photos/default_profile_picture.png" alt="" />
              Trung Bom
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">

              <li><a href="#/login"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!-- header-right -->
  </div><!-- headerbar -->
</div><!-- header-->