<!--define text show by javascript-->
<translate>Select Department</translate>
<translate>Select type</translate>
<translate>Question for women : Is there any chance that you may be pregnant?</translate>
<translate>Information</translate>
<translate>Patient code is required</translate>
<translate>Please, enter patient code</translate>
<translate>Department is required</translate>
<translate>Please, enter patient code</translate>
<translate>No group question is exist</translate>
<translate>Please, add group question</translate>
<translate>No question is selected</translate>
<translate>Please, choose question.</translate>
<translate>No group question activated</translate>
<translate>Please, choose group question.</translate>
<translate>Question is exist</translate>
<translate>Please, choose other question.</translate>
<translate>Input other answer</translate>
<translate>Home page</translate>
<translate>Sign in</translate>
<translate>Page not found</translate>
<translate>Patient survey</translate>
<translate>Do survey</translate>
<translate>Export Survey</translate>
<translate>Export Account</translate>
<translate>Answer survey for</translate>
<translate>List survey</translate>
<translate>List survey of</translate>
<translate>Question library</translate>
<translate>Create new question</translate>
<translate>Edit question</translate>
<translate>Single choice</translate>
<translate>Multiple choice</translate>
<translate>Delete question successful.</translate>
<translate>Create question</translate>
<translate>Missing required fields</translate>
<translate>Save question</translate>
<translate>Question was saved successful.</translate>
<translate>Missing answer</translate>
<translate>Please answer all required questions.</translate>
<translate>Survey management</translate>
<translate>Create new survey</translate>
<translate>Create new survey for</translate>
<translate>Missing hospital code</translate>
<translate>The username and password that you entered don't match.</translate>
<translate>Previous</translate>
<translate>Next</translate>
<translate>Interview Exit</translate>
<translate>Delete</translate>
<translate>Delete Question</translate>
<translate>Note</translate>
<translate>Finished</translate>
<translate>Finish</translate>
<translate>Correct</translate>
<translate>Activated</translate>
<translate>Survey was activated</translate>
<translate> was deleted.</translate>
<translate>Please, check again.</translate>
<translate>Can't delete this survey.</translate>
<translate>Please, check again.</translate>
<translate>Some group question has no question</translate>
<translate>Please, add question into survey.</translate>
<translate>Field cannot be empty</translate>
<translate>Question must have at least one answer</translate>
<translate>Survey must have at least one group question</translate>
<translate>Please enter no more than 10 answers</translate>
<translate>Can\'t save this survey.</translate>
<translate>Agreement</translate>
<translate>You must accept the agreement.</translate>
<translate>cannot be empty!</translate>
<translate>Input patient's code</translate>
<translate>Patient</translate>
<translate>Quick survey</translate>
<translate>Create patient survey</translate>
<translate>Patient's survey not found.</translate>
<translate>Patient not found</translate>
<translate>View</translate>
<translate>Survey already was done.</translate>
<translate>Thank you for your cooperation.</translate>
<translate>Please help us make the following survey.</translate>
<translate>Thanks you for completed our health survey</translate>
<translate>Medical survey</translate>
<translate>Department</translate>
<translate>Title</translate>
<translate>Description</translate>
<translate>Patient account information</translate>
<translate>PHR account</translate>
<translate>Change survey</translate>
<translate>Can not change survey</translate>
<translate>Can not create patient survey</translate>
<translate>Change survey successfully</translate>
<translate>Patient survey has been created successfully</translate>
<translate>Patient survey has been created successfully</translate>
<translate>Patient not found <br> Can not create patient survey</translate>
<translate>Patient survey has been completed <br> Can not change survey</translate>
