<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Properties>
		<Property name="log-path">/opt/tomcat_homepage/logs/</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="DailyFile" fileName="${log-path}/homepage.log" filePattern="${log-path}/homepage-%d{yyyy-MM-dd}.log">			
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
     		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		</RollingFile>		
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="DailyFile" />
		</Root>
	</Loggers>
</Configuration>