<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <DBConnections>
	<Connection Name="OleDB" 	ProviderKind="OleDB"    DataBaseKind="Oracle"    ConnectString="Provider=MSDAORA.1; Data Source=ICMJ_DEV_a;	User ID=medi; Password=medi; Persist Security Info=True;" />
        <Connection Name="Default"     	ProviderKind="Oracle"   DataBaseKind="Oracle"    ConnectString="data source=ICMJ_DEV_a ; 			user id=medi; password=medi"/> 
        <Connection Name="ODBC"     	ProviderKind="ODBC"    	DataBaseKind="Oracle"    ConnectString="data source=ICMJ_DEV_a ; 			user id=medi; password=medi"/> 
  </DBConnections>
  <LANG MODE="Jr"/> 
  <DOWNLOAD MODE="Off" />
  <DEBUG MODE="On" />
  <SERVER IP="10.1.10.230" />
  <INTERFACE IP="10.1.10.230" PORT="15200" />
  <KAIKEI IP="10.1.10.230" PORT="5015" />
  <IMAGE_SERVER IP="10.1.10.230" USER_ID="ihisimage" USER_PW="ihisimage" />
  <HOSP CODE="K01" />
  <DoctorGwaListAtLogin SHOW="Y">
     <ShowingSystemID>OCSI</ShowingSystemID>
     <ShowingSystemID>OCSO</ShowingSystemID>
  </DoctorGwaListAtLogin>
<!-- test -->
</Config>
