<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <DBConnections>
	<Connection Name="OleDB" 	ProviderKind="OleDB"    DataBaseKind="Oracle"    ConnectString="Provider=MSDAORA.1; Data Source=ICMJ_ENdfgd;	User ID=medi; Password=medi; Persist Security Info=True;" />
        <Connection Name="Default"     	ProviderKind="Oracle"   DataBaseKind="Oracle"    ConnectString="data source=ICMJ_ENdfg; 			user id=medi; password=medi"/> 
        <Connection Name="ODBC"     	ProviderKind="ODBC"    	DataBaseKind="Oracle"    ConnectString="data source=ICMJ_ENdgd; 			user id=medi; password=medi"/> 
  </DBConnections>
  <LANG MODE="Jr"/>
  <DOWNLOAD MODE="Off" />
  <DEBUG MODE="On" />
  <SERVER IP="10.1.20.190" />
  <INTERFACE IP="10.1.20.190" PORT="15200" />
  <KAIKEI IP="10.1.20.190" PORT="5015" />
  <IMAGE_SERVER IP="10.1.20.190" USER_ID="ihisimage" USER_PW="ihisimage" />
  <HOSP CODE="K01" />
  <HOMEPAGE URL="https://karte.clinic/" />
  <FIX VERSION="1.6.4" />
  <DoctorGwaListAtLogin SHOW="Y">
     <ShowingSystemID>OCSI</ShowingSystemID>
     <ShowingSystemID>OCSO</ShowingSystemID>
  </DoctorGwaListAtLogin>
  <ORCA_SERVER>
    <HOST>10.2.9.28</HOST>
    <BOOKING_PORT>8000</BOOKING_PORT>
    <ORDER_PORT>8210</ORDER_PORT>
    <USER>ormaster</USER>
    <PASSWORD>ormaster123</PASSWORD>
    <CONTENT_TYPE>application/xml</CONTENT_TYPE>
    <BOOKING_URL>/orca14/appointmodv2?class=</BOOKING_URL>
    <TEMP_FOLDER>temp</TEMP_FOLDER>
    <TEMP_FILE_NAME>order_{0}.xml</TEMP_FILE_NAME>
  </ORCA_SERVER>
</Config>
