<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IHIS.BASS.Properties.Settings.ConnectionString" connectionString="Dsn=okada_orca;uid=orca"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>