<p>Users will access to visit KARTE.CLINIC (https:
    //karte.clinic) (called "this website") to use electronic medical records systems and other related services (called "this services") which is provided by Sofia Medix company (called "our company"). User should agree to the following rules. Users register user or who have used this service have to agree to the following rules.
</p>

<p>
    Our company has permission to decide and change rules, manuals and other content related to the security of personal information (called “Regulations”). The regulations changed will be effective from time published on the website. Users are responsible for confirming regulations in website. The user continues to use the website and services after the regulations are changed mean that the user agree changes of this regulations. In case the user does not agree with these changes, please stop using this website and services. </p>
<h4>Article 1. The purpose of this services</h4>

<p>
    The purpose of this service is to provide users as the health agencies or people working health agencies (called "health agencies") an electronic medical record service on Cloud, provide users as patients (called "patient") a platform to be able to use health information services, to provide users who have intended to use electronic medical record information to develop, test and prepare pharmaceutical products (called "pharmaceutical company") data based on electronic medical records.</p>
<h4>Article 2. Using capacity</h4>

<p>
    Only those people who can implement the agreement according to the law rightly, have the right to use the website and services. For example, those underage minors will not be able to use the website and services. When using this website and services, users must abide by to the terms of use, be competent and responsibility to implement full obligations of user.</p>

<p>
    However, the use website and services is not limited to user who are the patients. In case the user is adolescents underage patient, can still use the website and services if those people who are competent to parents guarantee. In this case, not only the user, which guarantee parents have also the right to use the website and this service if agreed with the use regulations.</p>
<h4>Article 3. Notification</h4>

<p>
    The notification of our company will be sent to users via e-mail. We will carry out notification to the e-mail address that users input in contact form when registering. Users must are obliged to check e-mail frequently to avoid missing information sent by our company. In case the user want to notice our company, please contact to the address on the FAQ page of the company website. After notifications are sent, will response to the user's e-mail within 24 hours. For legal notices, our company can also be sent the address which is registered by the user by post. In this case, the notification to the user's address within 3 days since sending.
</p>
<h4>Article 4. User registration</h4>

<p>
    To use the website and services, users need to register by method due to our company provisions. Users must provide exactly information when registering, in which case update, user need to notify updating for our company. Users are prohibited being a third party or use name of a other people to register as unapproved. Our company will not be liable for losses incurred due to errors and confusion registration information.</p>
<h4>Article 5. Password security</h4>

<p>
    When access the website, users must use the ID and password for use this service. Users must be responsibility to preserve the password information yourself safely. Users may not publicly ID and password outside third party has the right on behalf of individual user to perform operations. In addition, the company uses the ID and password of the user to perform all operations in the website will be considered as the user operations. In case suspected leak user's password, the user must change password.</p>
<h4>Article 6. Ensure the benefits of the company</h4>

<p>
    Our company has the right to set, change the content, interface, design, functionality and other issues related to the website or services include in changes, edit, delete design, change the content of elements, features in this website and service. Our company has full rights related to the secret title, copyright, trademark, business manner and rights related to other copyright laws. We will not transfer the rights related to the website and services to the user.</p>
<h4>Article 7. The handling of violations</h4>

<p>-----</p>