<p>Người sẽ truy cập hoặc có ý định truy cập KARTE.CLINIC（https://karte.clinic）(dưới đây gọi là “website này”) để sử dụng hệ thống bệnh án điện tử và các dịch vụ liên quan khác (dưới đây gọi là “dịch vụ này” ) do công ty Nextop Asia (dưới đây gọi là “công ty chúng tôi”) cung cấp, cần đồng ý với các điều khoản sử dụng dưới đây . Người dùng tiến hành đăng ký user trong dịch vụ này hoặc đã sử dụng dịch vụ này cũng cần đồng ý với những điều khoản dưới đấy.
</p>

<p>
    Công ty chúng tôi có quyền quyết định và tùy ý thay đổi điều khoản sử dụng, hướng dẫn sử dụng và những nội dung liên quan đến bảo mật thông tin cá nhân (dưới đây gọi tắt là “các quy định”). Các quy định được thay đổi sẽ có hiệu lực bắt đầu từ thời điểm được công bố trên website. Người dùng có trách nhiệm xác nhận các quy định có trên website. Việc người dùng vẫn tiếp tục sử dụng website và dịch vụ này sau khi các quy định được thay đổi đồng nghĩa với việc người dùng đã đồng ý với thay đổi của các quy định này. Nếu trong trường hợp người dùng không đồng ý với những thay đổi này, xin vui long ngưng sử dụng website và dịch vụ này. </p>
<h4>Điều 1 Mục đích của dịch vụ này</h4>

<p>
    Mục đích của dịch vụ này là cung cấp cho người dùng là các cơ quan y tế hoặc những người làm trong các cơ quan y tế (dưới đây gọi tắt là “các cơ quan y tế”) một dịch vụ bệnh án điện tử trên Cloud, cung cấp cho người dùng là bệnh nhân (dưới đây gọi tắt là “bệnh nhân”) một Plat form để có thể sử dụng dịch vụ thông tin y tế, cung cấp cho người dùng có dự định sử dụng thông tin bệnh án điện tử để phát triển, thử nghiệm và bào chế sản phẩm dược (dưới đây gọi là “công ty dược phầm”) dữ liệu dựa trên bệnh án điện tử.</p>
<h4>Điều 2 Tư cách sử dụng</h4>

<p>
    Chỉ những người có thể thực hiện bản thỏa thuận theo đúng pháp luật mới có quyền sử dụng website và dịch vụ này. Ví dụ, những người chưa đủ tuổi vị thành niên sẽ không thể sử dụng website và dịch vụ này. Khi sử dụng website và dịch vụ này, người dùng phải tuân thủ các điều khoản sử dụng, có thẩm quyền và năng lực thực hiện toàn bộ nghĩa vụ của người dùng.</p>

<p>
    Tuy nhiên, việc sử dụng website và dịch vụ này không giới hạn đối với người dùng là bệnh nhân. Trường hợp người dùng là bệnh nhân chưa đủ tuổi vị thành niên vẫn có thể sử dụng website và dịch vụ này nếu có người có thẩm quyền cha mẹ bảo lãnh. Trong trường hợp này, không chỉ người dùng, mà cha mẹ có quyền bảo lãnh cũng có quyền sử dụng website và service này nếu đã đồng ý với các quy định sử dụng.</p>
<h4>Điều 3 Thông báo</h4>

<p>
    Các thông báo của công ty chúng tôi sẽ được gửi đến người dùng qua E-mail. Chúng tôi sẽ tiến hành thông báo đến địa chỉ E-mail mà người dùng ghi nhập và phần địa chỉ liên lạc khi đăng ký. Người dùng phải có nghĩa vụ kiểm tra E-mail thường xuyên để tránh bỏ sót thông tin do công ty chúng tôi gửi. Trường hợp người dùng muốn thông báo đến phía công ty chúng tôi, xin vui long liên hệ đến địa chỉ có trong trang hỏi đáp của website công ty. Thông báo sau khi được gửi sẽ đến E-mail của người dùng trong vòng 24 giờ. Đối với các thông báo mang tính pháp lý, công ty chúng tôi cũng có thể sẽ gửi đến địa chỉ do người dùng đăng ký qua đường bưu điện. Trong trường hợp này, thông báo sẽ đến địa chỉ của người dùng trong vòng 3 ngày kể từ khi gửi.
</p>
<h4>Điều 4 Đăng ký người dùng</h4>

<p>
    Để sử dụng website và dịch vụ này, người dùng cần đăng ký theo phương pháp do công ty chúng tôi quy định. Người dùng phảo cung cấp thông tin chính xác khi đăng ký, trong trường hợp cập nhật thì phải thông báo phần cập nhật cho công ty chúng tôi. Nghiêm cấm người dùng là người thứ ba hoặc sử dụng tên của người thứ ba để đăng ký khi chưa được chấp thuận. Công ty chúng tôi sẽ không chịu trách nhiệm do các tổn thất phát sinh do sai lệch, nhầm lẫn thông tin đăng ký.
</p>
<h4>Điều 5 Bảo mật mật khẩu</h4>

<p>
    Khi truy cập vào web site, người dùng phải sử dụng ID và Password dành riêng cho việc sử dụng dịch vụ này. Người dùng phải có trách nhiệm bảo quản thông tin mật khẩu của bản thân một cách an toàn. Người dùng không được công khai ID và Password ngoài người thứ ba có quyền thay mặt cá nhân người dùng thực hiện thao tác. Ngoài ra, phía công ty sử dụng ID và Password của người dùng để thực hiện các thao tác trong website đều sẽ được coi là thao tác của người dùng. Trường hợp có nghi ngờ rò rỉ Password của người dùng, người dùng phải tiền hành thay đổi password.</p>
<h4>Điều 6 Bảo đảm quyền lợi của công ty</h4>

<p>
    Công ty chúng tôi có quyền thiết lập, thay đổi nội dung, giao diện, thiết kế, chức năng và các vấn đề khác liên quan đến website hoặc dịch vụ này bao gồm cả việc thay đổi , chỉnh sửa, xóa sửa thiết kế, thay đổi nội dung của các yếu tố , các đặc tính trên website và dịch vụ này. Công ty chúng tôi có toàn quyền liên quan đến bí mật tiêu đề, bản quyền, thương hiệu, cách thức kinh doanh và các quyền liên quan đến luật bản quyền khác. Chúng tôi sẽ không chuyển nhượng quyền liên quan đến website và dịch vụ này cho phía người dùng.</p>
<h4>Điều 7 Xử lý vi phạm</h4>

<p>-----</p>