#export-popup .modal-dialog {
    margin-top: 156px !important;
    width: auto;
    size: a4;
}

#export-popup .modal-dialog .modal-content {
    border: 0px !important;
    background-color: transparent;
    -webkit-box-shadow: 0 3px 9px rgba(255, 255, 255, 0) !important;
    box-shadow: 0 3px 9px rgba(255, 255, 255, 0) !important;
}

#export-popup .modal-dialog .modal-content .modal-header {
    background-color: transparent;
    padding: 0px !important;
}

#export-popup .modal-dialog .modal-content .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 1000px;
    padding: 0px !important;
}

#export-popup .modal-dialog .modal-content .modal-body::-webkit-scrollbar {
    width: 0px;
}

#export-popup .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb {
    width: 0px;
}

#export-popup .modal-dialog .modal-content .modal-header .act-toolbar {
    padding: 15px 0;
}

#export-popup .modal-dialog .modal-content .modal-header .act-toolbar .btn-action {
    background: #333 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 0 2px;
    padding: 5px 10px;
    width: 100px;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-topleft {
    left: 0.75cm;
    position: absolute;
    top: 0.75cm;
    width: 30%;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-topright {
    position: absolute;
    right: 0.75cm;
    top: 0.75cm;
}

#export-popup .modal-dialog .modal-content .modal-body .act-toolbar .btn-action {
    background: #333 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 0 2px;
    padding: 5px 10px;
    width: 100px;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-info-table {
    border: 0.25pt solid #ccc;
    margin: 0 auto;
    width: 66%;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-topleft .title {
    border-bottom: 0.25pt solid #ccc;
    font-size: 11pt;
    margin: 0 0 0.2cm;
    padding: 0 0 0.2cm;
}

#export-popup .modal-dialog .modal-content .modal-body page[size="A4"] {
    background: white none repeat scroll 0 0;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    display: block;
    height: 29.7cm;
    margin: 0 auto 0.5cm;
    width: 21cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view {
    font-size: 11pt;
    padding-top: 2cm;
    position: relative;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .questions-list .question-item .answer-row {
    margin-bottom: 0.1cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-footer {
    bottom: 0;
    color: #666;
    font-size: 11px;
    left: 0;
    line-height: 1.4;
    padding: 0 0.75cm 0.75cm;
    position: absolute;
    width: 100%;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view {
    font-size: 11pt;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .questions-list .question-item .question-item-answer {
    margin-left: 1cm;
    padding: 0.2cm 0;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .questions-list {
    padding: 0 0 0 2cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-list-group .survey-list-title {
    border-bottom: 0.25pt solid #ccc;
    border-top: 0.25pt solid #ccc;
    color: #666;
    font-size: 11pt;
    margin: 0 0 0.5cm;
    padding: 0.2cm 0;
    text-transform: uppercase;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-list-group {
    margin-bottom: 0.4cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-content .title {
    font-size: 16pt;
    font-weight: bold;
    margin: 0.2cm 0 0.4cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-content {
    margin-bottom: 2cm;
    padding: 0 0.75cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-info {
    margin-bottom: 1cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-title {
    font-size: 30pt;
    margin: 1cm 0;
    text-align: center;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .questions-list .question-item .question-item-title {
    color: red;
    font-size: 12pt;
    margin: 0.2cm 0;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-info-table tr th {
    width: 25%;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-info-table tr th, .survey-view .survey-info-table tr td {
    background: #fff none repeat scroll 0 0;
    border-bottom: 0.25pt solid #ccc;
    padding: 0.1cm 0.2cm;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-info-table tr td {
    border-left: 0.25pt solid #ccc;
}

#export-popup .modal-dialog .modal-content .modal-body .survey-view .survey-info-table tr th, .survey-view .survey-info-table tr td {
    background: #fff none repeat scroll 0 0;
    border-bottom: 0.25pt solid #ccc;
    padding: 0.1cm 0.2cm;
}