@media print {
  body {
    margin: 0;
    box-shadow: 0;
    background: rgb(255,255,255) !important;
  }
}
body{
	font-size: 10.75pt;
	     font-family: 'MS UI Gothic', sans-serif;
	    background: rgb(204,204,204);
          line-height: 20px;
}

.billing{
	width: 793.700787px;
	margin: 0 auto;
	background: #fff;
	padding: 0.5cm 1cm;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.tbl_table{width: 100%; border-collapse: collapse; margin-top: 10px;}
.tbl_table td,.tbl_table th{
	border: 1px solid #000;
	padding: 2px 10px;
  font-weight: normal;
}
.tbl_table th{font-weight:bold;}
.center{text-align: center;}
h1.center {
    margin: 3px 0 5px;
    display: inline-block;
    width: 100%;
	font-size:20px;
	text-align:left;
}

.bottom {
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.bottom .pull-left{
	width: 50%;
	padding-top: 0px;
}
.bottom .pull-right{
	width: 50%;
}
.bottom .pull-right p{    margin: 0; width: 100%;  display: inline-block;}
.bottom .pull-right .right{
	float: right;
	    text-align: right;
}
.bottom .pull-right span{float: left; width: 80px;  }
.bottom .pull-right .value{
	padding: 0 00px 0 0px;
	width:300px;
	float:left;
}
.bottom h3{margin: 0 0 5px}
.note{position:relative; font-size:9pt}
.notedf{
	position:absolute;
	right:0;
	top:0;
	border:1px solid #000;
	width:50px;
	height:50px;
}
.notedf span{
	position:absolute;
	left:0px;
	bottom:2px;
	width:100%;
	text-align:center;
	display:inline-block;
}
table{counter-reset:section;}
.count:before
{
counter-increment:section;
content:counter(section);
}